<div ng-controller="lgNavbarController as vm" class="lgNavbar" ng-cloak>
  <md-content class="md-padding">
    <md-nav-bar id="menu"
      md-selected-nav-item="vm.currentNavItem"
      nav-bar-aria-label="navigation links">
      <md-nav-item ng-repeat="route in vm.routes" md-nav-click="vm.navigateTo(route)" name="{{route.page}}">
        Page {{route.page}}
      </md-nav-item>
    </md-nav-bar>
    <div id="submenu" flex="100">
      <md-nav-bar ng-repeat="route in vm.routes" ng-animate="'planet-view'" ng-if="vm.currentNavItem === route.page && route.items.length >= 1" class="planet-view item {{route.page}}" flex="100"
        md-selected-nav-item="vm.currentSubNavItem"
        nav-bar-aria-label="subnavigation links">
        <md-nav-item ng-repeat="item in route.items" md-nav-click="vm.manageSubmenu(route.page)" name="{{item.text}}">
          {{item.text}}
        </md-nav-item>
      </md-nav-bar>
    </div>
  </md-content>
</div>
