$lgNavbar-active-color: #f00;
.lgNavbar {

  .navBardemoBasicUsage md-content .ext-content {
  padding: 50px;
  margin: 20px;
  background-color: #FFF2E0; }

  #menu {
    position: relative;
    z-index: 9999;
    background: blue;
    color: white;
    display: block;
  }

  #submenu {
    position: relative;
    top: 0;
    transition: all .7s linear;
    z-index: 9998;
    box-sizing: border-box;
    background: rgb(150,50,50);
    color: white;

    .item {
      position: relative;
      top: 0;
      left: 0;
      color: inherit;

       &.ng-enter {
        transition:all ease-in 0.25s;
        height: 0px;

        &.ng-enter-active {
          height: 30px;
        }
      }

    }
  }

}


.planet-view.ng-animate {
  transition: all ease 2.4s;
  position: absolute;
}

.planet-view.ng-enter {
  top: 200px;
  opacity: 0;
}

.planet-view.ng-leave,
.planet-view.ng-enter.ng-enter-active {
  top: 0;
  opacity: 1;
}

.planet-view.ng-leave.ng-leave-active {
  top: -200px;
  opacity: 0;
}
